dotenv
requests
time
fastapi
smtplib
email
email.mime.text
email.mime.multipart
email.mime.base
email.encoders
pydantic
typing
datetime
collections
textblob
requests
motor
random
jose
passlib
bcrypt
jwt
python-jose