fastapi==0.110.0
uvicorn==0.29.0
python-dotenv==1.0.1
requests==2.31.0
pydantic==2.6.4
typing-extensions==4.11.0
textblob==0.18.0
motor==3.3.2
python-jose==3.3.0
passlib==1.7.4
bcrypt==4.1.2
PyJWT==2.8.0
